:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark-top-header: #252b42;
  --login-link-color: #23a6f0;
  --light-blue: #2a7cc7;
  --gray-text: #737373;
  --top-product-color: rgba(45, 139, 192, 0.75);
  --danger-color: #e74040;
  --dark-text-color: #252b42;
  --muted-color: #bdbdbd;
  --green-color: #23856d;
  --alert-color: #e77c40;
  --input-color: #e6e6e6;
  --grid-dropdown: #f9f9f9;
  --grid-border-color: #ddd;
  --bg-transparent: #00000027;
  --breadCrum-bg: #fafafa;
  --bg-small-color: #f6f6f6;

  /* -----gradient-colors----- */
  --gradient-green: #abecd7;
  --gradient-blue: #97e9fa;
}

/* ---------about banner section---------- */
.about-banner-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.56rem;
}
.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 3.41rem;
  padding-block: 9rem;
  gap: 2.5rem;
}
.about-text h2 {
  font-size: 2.5rem;
  color: var(--dark-text-color);
  font-weight: 700;
}
.about-text p {
  text-align: center;
  font-size: 1.25rem;
  color: var(--gray-text);
  font-weight: 600;
}
.about-text button {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  border: none;
  border-radius: 0.35rem;
  background-color: var(--login-link-color);
  padding-block: 0.94rem;
  padding-inline: 2.5rem;
}
.about-image {
  width: 94%;
}
.about-image img {
  width: 100%;
  height: 100%;
}

/* -----------metrix section--------- */
.metrix-container {
  padding-block: 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.25rem;
}
.metrix-hold {
  text-align: center;
  width: 15.062rem;
}
.metrix-amount {
  font-size: 3.625rem;
  font-weight: 700;
  color: var(--dark-text-color);
}
.metrix-title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--gray-text);
}

/* ---------Problem Trying section--------- */
.probTry-container {
  padding-block: 5rem;
}
.probTry-hold {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  width: 90%;
  align-items: center;
}
.probTry-top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
  padding-block: 1.5rem;
}
.probTry-top p {
  font-size: 0.875rem;
  color: var(--danger-color);
  font-weight: 500;
}
.probTry-top h2 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 16.8125rem;
  color: var(--dark-top-header);
}

.probTry-bottom {
  width: 19.8125rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray-text);
}

/* -------Video section------ */
.video-wrap {
  position: relative;
  width: 19.1792rem;
  height: 19.7557rem;
  margin-block: 5rem;
}
.video-wrap img {
  width: 100%;
  height: 100%;
  border-radius: 0.55rem;
}
.vid-btn {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #00000038;
}
.vid-btn button {
  color: #fff;
  background: var(--login-link-color);
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  width: 3.5591rem;
  height: 3.5591rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .about-banner-wrap {
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 2.56rem;
    width: 90%;
  }
  .about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 0rem;
    padding-block: 9rem;
    gap: 2.19rem;
  }
  .about-text p {
    text-align: left;
    font-size: 1.25rem;
    color: var(--gray-text);
    font-weight: 600;
  }

  /* ---------Problem Trying section--------- */
  .probTry-hold {
    display: flex;
    flex-direction: row;
    width: 90%;
  }
  .probTry-top {
    align-items: flex-start;
    text-align: left;
  }
  .probTry-top h2 {
    width: 24.625rem;
    color: var(--dark-top-header);
  }
  .probTry-bottom {
    width: 34.0625rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--gray-text);
  }

  /* -------Video section------ */
  .video-wrap {
    position: relative;
    width: 85%;
    height: 33.75rem;
    margin-block: 5rem;
  }
}

/* ---------medium large screen size------- */
@media screen and (min-width: 940px) {
  .tabs-login {
    align-items: center;
    color: var(--login-link-color);
  }
  .tabs-login a {
    color: var(--login-link-color);
  }
  .tabs-login .login {
    padding: 15px;
    gap: 6px;
    align-items: center;
    font-size: 14px;
  }
  .login-btn {
    display: flex;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 700;
    background: var(--login-link-color);
    gap: 0.94rem;
    padding-inline: 1.56rem;
    padding-block: 0.94rem;
    border-radius: 0.35rem;
  }

  .metrix-container {
    padding-block: 6.25rem;
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1.86rem;
  }

  /* -------Video section------ */
  .video-wrap {
    position: relative;
    width: 90%;
    height: 33.75rem;
    margin-block: 7rem;
  }
}

/* ---------Large screen size------- */
@media screen and (min-width: 1100px) {
  .metrix-container {
    width: 65.652rem;
  }

  /* ---------Problem Trying section--------- */
  .probTry-hold {
    display: flex;
    flex-direction: row;
    width: 63.625rem;
  }

  /* -------Video section------ */
  .video-wrap {
    width: 61.8125rem;
    height: 33.75rem;
    background: #000;
  }
}
