:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --dark-top-header: #252B42;
    --login-link-color: #23A6F0;
    --light-blue: #2A7CC7;
    --gray-text: #737373;
    --top-product-color: rgba(45, 139, 192, 0.75);
    --danger-color: #E74040;
    --dark-text-color: #252B42;
    --muted-color: #BDBDBD;
    --green-color: #23856D;
    --alert-color: #E77C40;
    --input-color: #E6E6E6;
    

    /* -----gradient-colors----- */
    --gradient-green : #ABECD7;
    --gradient-blue : #97E9FA;
}

/* ----------bandage section----------- */
.bandage-container{
    background-color: var(--light-background);
    width: 100%;
    display: flex;
    justify-content: center;
}
.bandage-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2.5rem;
    width: 65.625rem;
}
.footer-bandage .logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-text-color);
}
.footer-icon{
    display: flex;
    gap: 1.25rem;
    padding-inline: 3.87rem;
}
.footer-icon a{
    height: 1.5rem;
    width: 1.5rem;
}

/* ---------footer secton--------- */
.f-dir{
    flex-direction: column;
}
.footer{
    display: flex;
    gap: 1.88rem;
    width: 65.625rem;
    flex-wrap: wrap;
    padding-block: 3.12rem;
}
.footer-links-wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 60%;
    gap: 1.88rem;
    flex-wrap: wrap;
}
.footer-links{
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    width: 9.25rem;
}
.footer-links h5{
    color: var(--dark-text-color);
    font-size: 1rem;
    font-weight: 700;
}
.Tlink{
    display: flex;
    flex-direction: column;
}
.Tlink a{
    font-size: 0.825rem;
    font-weight: 700;
    color: var(--gray-text);
}

/* subscribe button */
.subscribe{
    width: 20.062rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.subscribe h5{
    font-size: 1rem;
    font-weight: 700;
    color: var(--dark-text-color);
}
.subscribe-btn{
    overflow: hidden;
    border-radius: .25rem;
}
.subscribe-btn input{
    width: 70%;
    border: none;
    padding-inline: 1.25rem;
    font-size: 0.875rem;
    height: 3.625rem;
    background-color: var(--input-color);
}
.subscribe-btn button{
    outline: none;
    width: 30%;
    border: none;
    color: #fff;
    font-size: 0.875rem;
    height: 3.625rem;
    cursor: pointer;
    background-color: var(--login-link-color);
}

/* copy right section */
.copyRight-wrap{
    display: flex;
    align-items: flex-start;
    padding-block: 1.56rem;
    width: 65.625rem;
    color: var(--gray-text);
    font-weight: 600;
    font-size: 0.875rem;
}


/* ---------medium screen-sizes--------- */
@media screen and (max-width: 890px) and (min-width: 720px){
/* ----------bandage section----------- */
    .bandage-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 2.5rem;
        width: 90%;
    }

/* ---------footer secton--------- */
    .footer{
        display: flex;
        gap: 1.88rem;
        width: 90%;
        flex-wrap: wrap;
        padding-block: 3.12rem;
    }

    /* copy right section */
    .copyRight-wrap{
        display: flex;
        align-items: flex-start;
        padding-block: 1.56rem;
        width: 90%;
    }
}

/* ---------small screen sizes----------- */
@media screen and (max-width: 710px){
/* ----------bandage section----------- */
    .bandage-wrap{
        display: grid;
        gap: 1.53rem;
        padding-block: 2.5rem;
        width: 90%;
        /* background-color: #23856D; */
    }
    .footer-icon{
        display: flex;
        gap: 1.25rem;
        padding-inline: 0rem;
    }
    
/* ---------footer secton--------- */
    .footer{
        display: flex;
        gap: 1.88rem;
        width: 90%;
        flex-wrap: wrap;
        padding-block: 3.12rem;
    }
    .footer-links-wrap{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 60%;
        flex-wrap: wrap;
    }
    
    /* copy right section */
    .copyRight-wrap{
        display: flex;
        align-items: flex-start;
        padding-block: 1.56rem;
        width: 90%;
        text-align: center;
        justify-content: center;
    }
    .footer-copyRight{
       width: 49%; 
    }
    
}