@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.df{
    display: flex;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.tabs-hidden{
    display: none;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    object-fit: contain;
    width: 100%;
}
