@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Montserrat:wght@400;500;600;700;800&family=PT+Sans:wght@400;700&display=swap');
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --dark-top-header: #252B42;
    --login-link-color: #23A6F0;
    --light-blue: #2A7CC7;
    --gray-text: #737373;
    --top-product-color: rgba(45, 139, 192, 0.75);
    --danger-color: #E74040;
    --dark-text-color: #252B42;
    --muted-color: #BDBDBD;
    --green-color: #23856D;
    --alert-color: #E77C40;
    --input-color: #E6E6E6;
    --grid-dropdown: #F9F9F9;
    --grid-border-color: #DDD;
    --bg-transparent: #00000027;
    --breadCrum-bg: #FAFAFA;
    --bg-small-color: #F6F6F6;

    /* -----gradient-colors----- */
    --gradient-green : #ABECD7;
    --gradient-blue : #97E9FA;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.df{
    display: flex;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.tabs-hidden{
    display: none;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* small screen sizes */
.bottom-header{
    margin-block: 15px 8px;
    color: var(--dark-top-header);
    font-size: 14px;
    gap: 40px;
    font-weight: 700;
    display: grid;
    width: 100%;
    padding-inline: 1.19rem;
    grid-template-columns: 1fr 1fr;
}
.nav-link{
    display: none;
}
.nav-brand{
    font-size: 24px;
    align-items: center;
}
.small-nav-link{
    display: flex;
    justify-content: flex-end;
    gap: 1.2rem;
    border: none;
    background: none;
    align-items: center;
}
.small-nav-link button{
    border: none;
    outline: none;
    background: none;
}
.small-nav-icon{
    height: 1.5rem;
}
.small-nav-icon:nth-child(3){
    height: 1.1rem;
}

.small-tabs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 4rem;
    width: 100%;
    font-size: 1.875rem;
    gap: 1.88rem;
}
.small-tabs li a{
    color: var(--gray-text);
    font-weight: 600;
}

/* ---------medium screen size------- */
@media screen and (min-width: 700px){
    .nav-brand{
        font-size: 2.5rem;
        align-items: center;
    }

    .small-nav-icon{
        height: 2.5rem;
    }
    .small-nav-icon:nth-child(3){
        height: 2.1rem;
    }

    .bottom-header{
        margin-block: 15px 8px;
        width: 95%;
        padding-inline: 1.19rem;
    }

    
  
}

/* ---------medium large screen size------- */
@media screen and (min-width: 940px){
    /* Things that would'nt display on normal screen sizes */
    .small-nav-link{
        display: none;
    }
    .small-tabs{
        display: none;
    }
    
    /* -----------Bottom Header section-------- */
    .bottom-header{
        display: flex;
        padding-inline: 38px 17px;
        margin-block: 15px 8px;
        color: var(--dark-top-header);
        width: 95%;
        gap: 40px;
        font-weight: 700;
    }
    .nav-brand{
        width: 12.7rem;
        font-size: 24px;
        align-items: center;
    }
    .nav-link{
        display: flex;
        width: 50.9375rem;
        justify-content: space-between;
    }
    .nav-link .tabs{
        gap: 15px;
        align-items: center;
    }
    .tabs li a{
        color: var(--dark-top-header);
    }
    .tabs-login{
        align-items: center;
        color: var(--login-link-color);
    }
    .tabs-login a{
        color: var(--login-link-color);
    }
    .tabs-login .login{
        padding: 15px;
        gap: 6px;
        align-items: center;
        font-size: 14px;
    }
    .login-btn{
        display: flex;
        border: none;
        outline: none;
        color: #fff;
        font-weight: 700;
        background: var(--login-link-color);
        gap: 0.94rem;
        padding-inline: 1.56rem;
        padding-block: 0.94rem;
        border-radius: 0.35rem;
    }

}

/* ---------Large screen size------- */
@media screen and (min-width: 1100px){
    /* Things that would'nt display on normal screen sizes */
    .small-nav-link{
        display: none;
    }
    .small-tabs{
        display: none;
    }

    /* -----------Bottom Header section-------- */
    .bottom-header{
        display: flex;
        padding-inline: 8.5rem;
        margin-block: 0px;
        padding-block: 1rem;
        color: var(--dark-top-header);
        width: 82.652rem;
        gap: 40px;
        font-weight: 700;
    }
    .nav-brand{
        width: 12.7rem;
        font-size: 24px;
        align-items: center;
    }
    .nav-link{
        display: flex;
        width: 50.9375rem;
        justify-content: space-between;
    }
    .nav-link .tabs{
        gap: 15px;
        align-items: center;
    }
    .tabs li a{
        color: var(--dark-top-header);
    }
    .tabs-login{
        align-items: center;
        color: var(--login-link-color);
    }
    .tabs-login a{
        color: var(--login-link-color);
    }
    .tabs-login .login{
        padding: 15px;
        gap: 6px;
        align-items: center;
        font-size: 14px;
    }
    .login-btn{
        display: flex;
        border: none;
        outline: none;
        color: #fff;
        font-weight: 700;
        background: var(--login-link-color);
        gap: 0.94rem;
        padding-inline: 1.56rem;
        padding-block: 0.94rem;
        border-radius: 0.35rem;
    }

    /* ----------Client section------------- */
    .client{
        padding-inline: 1rem;
        display: flex;
        flex-direction: column;
        gap: 3.75rem;
        align-items: center;
        padding-block: 3.12rem;
    }
    .client img{
        height: initial;
    }
  
}  

