:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --dark-top-header: #252B42;
    --login-link-color: #23A6F0;
    --light-blue: #2A7CC7;
    --gray-text: #737373;
    --top-product-color: rgba(45, 139, 192, 0.75);
    --danger-color: #E74040;
    --dark-text-color: #252B42;
    --muted-color: #BDBDBD;
    --green-color: #23856D;
    --alert-color: #E77C40;
    --input-color: #E6E6E6;
    --grid-dropdown: #F9F9F9;
    --grid-border-color: #DDD;
    --bg-transparent: #00000027;
    --breadCrum-bg: #FAFAFA;
    --bg-small-color: #F6F6F6;
    --facebook: #335BF5;
    --instagram : #E51F5A;
    --twitter: #21A6DF;

    /* -----gradient-colors----- */
    --gradient-green : #ABECD7;
    --gradient-blue : #97E9FA;
}

.team-wrap{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.team-text{
    display: flex;
    flex-direction: column;
    width: 22.562rem;
    padding-block: 2.81rem;
    gap: 0.62rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.comText h2,
.team-text h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--dark-text-color);
    width: 18.875rem;
}
.comText p,
.team-text p{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--gray-text);
    width: 18.875rem;
}

/* Team User card */
.team-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.88rem;
    flex-wrap: wrap;
}
.user-img{
    width: 19.75rem;
    height: 14.4375rem;
}
.user-img img{
    height: 100%;
    width: 100%;
}
.user-info{
    padding: 1.88rem;
    gap: 0.62rem;
}
.user-info h5{
    font-size: 1rem;
    color: var(--dark-text-color);
    font-weight: 700;
}
.user-info h6{
    font-size: 0.875rem;
    color: var(--gray-text);
    font-weight: 700;
}
.user-info span{
    display: flex;
    gap: 1.25rem;
    padding-block: 0.62rem;
}

.facebook{
    color: var(--facebook);
    width: 1.5rem;
    height: 1.5rem;
}
.instagram{
    color: var(--instagram);
    width: 1.5rem;
    height: 1.5rem;
}
.twitter{
    color: var(--twitter);
    width: 1.5rem;
    height: 1.5rem;
}

/* company section  */
.company-wrap{
    width: 100%;
    background: var(--breadCrum-bg);
    padding-block: 7.5rem;
}
.comText{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/* ----------Client section------------- */
.client{
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    align-items: center;
    padding-block: 3.12rem;
}
.client img{
    height: initial;
}


@media screen and (min-width: 700px) and (max-width: 939px){
    .team-wrap{
        width: 85%;
    }

    .team-text{
        width: 100%;
        padding-block: 2.81rem;
        gap: 0.62rem;
    }  
    .comText h2,  
    .team-text h2{
        width: 80%;
    }
    
    /* Team User card */
    .team-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .user-img{
        width: 32.75rem;
        height: 24rem;
    }

    .facebook,
    .instagram,
    .twitter{
        height: 2rem;
        width: 2rem;
    }
    .user-info h5{
        font-size: 1.5rem;
    }
    .user-info h6{
        font-size: 1.275rem;
    }

    /* company section  */
    .comText{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    
    /* ----------Client section------------- */
    .client{
        /* background-color: #23A6F0; */
        padding-inline: 12.19rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 3.12rem;
    }
    .client img{
        height: 2.125rem;
    }
}

@media screen and (min-width: 940px){
    .team-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90%;
        
    }

    .team-wrap{
        align-items: center;
    }
    .team-text{
        width: 100%;
        padding-block: 2.81rem;
        gap: 0.62rem;
    }
    .comText h2,  
    .team-text h2{
        width: 80%;
    }
    /* ----------Client section------------- */
    .company-wrap{
        width: 100%;
        background: var(--breadCrum-bg);
        padding-block: 7.5rem;
    }
    .client{
        padding-inline: 12.19rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-block: 3.12rem;
    }
    .client img{
        height: 2.125rem;
    }
}

@media screen and (min-width: 1100px){
    .team-container{
        width: inherit;
    }
}